<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="http://www.vectorw3b.com" target="_blank">Developed by Vector Web</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>